<div class="bg-[#fafafa]">

  <div class="flex justify-center items-center">
    <%= image_tag(@user.image_user.presence || '/emmanuel-ducrettet.jpeg',
      class: "w-[300px] h-[300px] rounded-full border-4 border-[#004b49]",
      alt: "Avatar") %>
  </div>

<div class="flex justify-center items-center p-5">

<div><i class="fa-solid fa-phone"></i></div>

</div>
  <h1>Profil de <%= @user.firstname %> <%= @user.name %></h1>


tiot

<div >
rekjbnfrejnfrjfnrjh
</div>



</div>
